name: CI Build

on:
  push:
    branches:
      - main
    tags:
      - 'v*'  # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install dependencies
        run: make dev-install

      - name: Linting
        run: make dev-lint

      - name: Unit tests
        run: make dev-unit-tests

      - uses: mtkennerly/dunamai-action@v1
        with:
          env-var: VERSION
          args: --style semver --no-metadata
      - run: echo $VERSION

      - name: Set version
        run: uv version "$VERSION"

      - name: Build dist
        run: make dev-build-dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: python-package-distributions
          path: dist/

  testpypi-publish:
    if: github.ref == 'refs/heads/main'
    needs: ["build-and-test"]
    name: Upload release to Test PyPI
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/p/fngradio
    permissions:
      contents: read
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - name: Download dists
        uses: actions/download-artifact@v6
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish package distributions to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true

  pypi-publish:
    if: startsWith(github.ref, 'refs/tags')
    needs: ["build-and-test"]
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/fngradio
    permissions:
      contents: read
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - name: Download dists
        uses: actions/download-artifact@v6
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
